# Ignore virtual environment directory
myenv/

# Ignore static and media files
static/
media/

# Ignore environment variables file
.env

# Ignore SQLite database file
db.sqlite3

# Ignore project settings file
berlin/berlin/settings.py

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Django migrations
*/migrations/*

# Ignore IDE specific files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore compiled files
*.pyc
*.pyo