{% extends 'coreApp/base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="image-slider">
        <div class="slider-content">
            <img id="slider-image" src="{% static 'images/image1.jpeg' %}" alt="Slider Image">
            <div class="slider-text" id="slider-text">Order the best products</div>
        </div>
    </div>
    <div id="image-urls" data-images='[
        "{% static "images/image1.jpeg" %}",
        "{% static "images/image2.jpeg" %}",
        "{% static "images/image3.jpeg" %}",
        "{% static "images/image4.jpeg" %}",
        "{% static "images/image5.jpeg" %}",
        "{% static "images/image6.jpeg" %}"
    ]' data-texts='[
        "Order the best products",
        "We deliver worldwide",
        "Quality car items",
        "Best deals on auto parts",
        "Fast shipping guaranteed",
        "Find the perfect spare part"
    ]'></div>
</section>    
<main>
    <div class="main-content">
        main-content
    </div>
    
    <div class="product-list">
        {% for product in products %}
            <div class="product-item">
                <a href="{% url 'coreApp:detail' product.id %}"></a>
                {% if product.images.all %}
                    <img src="{{ product.images.first.image.url }}" alt="{{ product.product_name }}" class="product-image">
                {% else %}
                    <img src="{% static 'default_image.png' %}" alt="No image available" class="product-image">
                {% endif %}
                <h2>{{ product.product_name }}</h2>
                <p>Make: <span>{{ product.make.make_name }}</span></p>
                <p>Model: <span>{{ product.model.model_name }}</span></p>
                <p>Year: <span>{{ product.year }}</span></p>
                <p>Price: <span>${{ product.price }}</span></p>
            </div>
        {% endfor %}
    </div>
       
</main>

{% endblock %}