{% extends 'coreApp/base.html' %}
{% load static %}
{% block content %}  
<main>
    <div class="main-content">
        main-content
    </div>

    <div class="product-list">
        {% for product in products %}
            <div class="product-item">
                <a href="{% url 'coreApp:detail' product.id %}">
                    {% if product.images.all %}
                        <img src="{{ product.images.first.image.url }}" alt="{{ product.product_name }}" class="product-image">
                    {% else %}
                        <img src="{% static 'default_image.png' %}" alt="No image available" class="product-image">
                    {% endif %}
                </a>
                <h2>{{ product.product_name }}</h2>
                <p><strong>Make:</strong> <span>{{ product.make.make_name }}</span></p>
                <p><strong>Model:</strong> <span>{{ product.model.model_name }}</span></p>
                <p><strong>Year:</strong> <span>{{ product.year }}</span></p>
                <p><strong>Price:</strong> <span>${{ product.price }}</span></p>

                <div class="product-buttons">
                    <a href="{% url 'coreApp:detail' product.id %}" class="btn more-details">More Details</a>
                    <button class="btn reserve-item">Reserve Item</button>
                </div>
            </div>
        {% endfor %}
    </div>
</main>


{% endblock %}